@import url('http://getbootstrap.com/dist/css/bootstrap.css');
html {
    font-family: "Times New Roman", Times, serif;
}
div, header, footer{
    text-align: center;
    padding: 3px;
    background-color: black;
    color: white;
  }

a:hover {
    background-color: #6d767e;
}
a{
    color: white;
}
body {
    width: auto;
    margin: 0 auto;
    padding: 2px 0px 2px 0px;
    border: 5px solid black;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block;
}
header {
    display: block;
  }
#Welcome_link,
#About_link,
#Expereince_link,
#Project_link{
    font-size: 20px;
    color: white;
}

#header_banner{
    position: relative;
    text-align: center;
}
#nav_bar{
    position: absolute;
}