@import url('https://getbootstrap.com/dist/css/bootstrap.css');

/* Main File CSS */

html{
    text-align: center;
    background-color: #f9fcfe;
    scroll-padding-top: 70px;
} 

footer{
    text-align: center;
    background-color: #f9fcfe;
    color: #20242F;
  }

a:hover {
    background-color: #313748;
}
p {
    font-size: 18px;
      
}
body {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Header and Main Navigation */

#navbar_sect{
    text-align: center;
    background-color: #20242F;
}
#nav_container{
    background-color: #20242F;
}
#nav_name{
    font-size: 18px;
    color:#f9fcfe
}
#about_link,
#experience_link,
#cert_link,
#project_link{
    font-size: 14px;
    color: #f9fcfe;
}

/* About Section */

#about_div{
    background-image: url("../images/python_backgrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    padding-bottom: 12rem;

}
#about_container{
    color: #f9fcfe;
}
#welcome_title{
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-size: x-large;
}
#personal_intro_box{
    background-color: rgba(0,0,0, 0.6);
}

/* Multi-ID CSS */

#experience_sect,
#cert_sect{
    border-style: ridge;
    padding-top: 3rem;
    padding-bottom: 7rem;
}
#project_sect{
    border-style: ridge;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#experience_div,
#sec_cert_div,
#projects_div{
    padding-top: 2.5rem;
}
#blue_cable_photobox,
#sec_cert_photobox {
    padding-top: 3rem;
}
#experience_list,
#cert_skills_list{
    font-weight: 800;
    font-size: 18px;
}
#verify_button_div{
    padding-top: 1.5rem;
}
#verify_button{
    
    padding-left: 3rem;
    padding-right: 3rem;

}
#exp_list_div
#sec_skills_div{
    background-color: rgba(0,0,0, 0.6);

}
 
/* Custom CSS Classes */

.card-body{
    background-color: #f9fcfed0;
}

.custom-btn{
    background-color: #4e515d;
    color:black;
}
.custom-btn:hover{
    background-color: #babfc155;
}


.lineUp {
    animation: 1.5s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

/* Mobile Device CSS */

@media (max-width: 990px){
    /* Main File CSS */
    html{
        text-align: center;
        background-color: #f9fcfe;
        scroll-padding-top: 60px;
    } 
    
    footer{
        text-align: center;
        background-color: #f9fcfe;
        color: #20242F;
      }
    
    a:hover {
        background-color: #313748;
    }
    p {
        font-size: 18px;
          
    }
    body {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
        display: block;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 550;
        font-style: normal;
    }

    /* Header and Main Navigation CSS */
    
    #navbar_sect{
        text-align: center;
        background-color: #20242F;
    }
    #nav_container{
        background-color: #20242F;
    }
    
    #nav_name{
        font-size: 18px;
        color:#f9fcfe
    }
    #about_link,
    #experience_link,
    #cert_link,
    #project_link{
        font-size: 14px;
        color: #f9fcfe;
    }

    /* About Section */

    #about_div{
        padding-bottom: 8rem;
    
    }
    #about_container{
        color: #f9fcfe;
    }
    #welcome_title{
        margin-top: 5rem;
        margin-bottom: 4rem;
        font-size: x-large;
    }
    #personal_intro_box{
        background-color: rgba(0,0,0, 0.6);
    }


    /* Multi-ID CSS */
    #cert_sect,
    #experience_sect{
        padding-top: 2.5rem;
        padding-bottom: 7rem;
    }
    #project_sect{
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }

    #sec_cert_div,
    #projects_div{
        padding-top: 1rem;
    }   

    #blue_cable_photobox,
    #sec_cert_photobox{
        padding-top:  0rem;
    }
    
    #experience_list,
    #cert_skills_list{
        font-weight: 550;
        font-size: 16px;
    }

    /* Custom CSS Classes */

    .about_div_class{
        background-image: url("../images/python_backgrnd.jpg") no-repeat center center fixed;
        background-size: contain;
        background-attachment: fixed;
        background-position: center;
        height: 100%
    }
    
    .card-body{
        background-color: #f9fcfed0;
    }
    
    .custom-btn{
        background-color: #4c4f59;
        color:WHITE;    
    }

    .custom-btn:hover{
        background-color: #babfc155;
    }

    
}

/* Large Monitors CSS */

@media (min-width: 1700px){
    /* Main File CSS */
    html{
        text-align: center;
        background-color: #f9fcfe;
        scroll-padding-top: 60px;
    } 
    
    footer{
        text-align: center;
        background-color: #f9fcfe;
        color: #20242F;
      }
    
    a:hover {
        background-color: #313748;
    }
    p {
        font-size: 26px;
          
    }
    body {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
        display: block;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 550;
        font-style: normal;
    }

    /* Header and Main Navigation CSS */
    
    #navbar_sect{
        text-align: center;
        background-color: #20242F;
    }
    #nav_container{
        background-color: #20242F;
    }
    
    #nav_name{
        font-size: 28px;
        color:#f9fcfe
    }
    #about_link,
    #experience_link,
    #cert_link,
    #project_link{
        font-size: 22px;
        color: #f9fcfe;
    }
    

    /* About Section */

    #about_div{
        background-image: url("../images/python_backgrnd.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        z-index: -1;
        padding-top: 5rem;
        padding-bottom: 20rem;
    
    }
    #about_container{
        color: #f9fcfe;
    }
    #welcome_title{
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    #welcome_head{
        font-size: 60px;
    }
    #personal_intro_box{
        background-color: rgba(0,0,0, 0.6);
    }

    /* Projects Section CSS */

    #project_sect{
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }


    /* Multi-ID CSS */
    #cert_sect,
    #experience_sect{
        padding-top: 2.5rem;
        padding-bottom: 7rem;
    }

    #sec_cert_div,
    #projects_div{
        padding-top: 1rem;
    }   

    #blue_cable_photobox,
    #sec_cert_photobox{
        padding-top:  4rem;
    }

    #photo_me{
        height: 450px;
        width: 450px;
    }
    #linked_png,
    #git_png{
        height: 60px;
        width: 60px;
    }

    #blue_cable,
    #sec_cert_photo{
        height: 400px;
        width: 400px;
    }

    #experience_head,
    #cert_head,
    #project_head{
        font-size: 36px;
    }
    
    #experience_list,
    #cert_skills_list{
        font-weight: 500;
        font-size: 20px;
    }

    #cert_textbox{
        padding-top: 1rem;
    }
    
    .card-body{
        background-color: #f9fcfed0;
    }
    
    
    .custom-btn{
        background-color: #41444e;
    }
    .custom-btn:hover{
        background-color: #babfc155;
    }
    
}