@import url('http://getbootstrap.com/dist/css/bootstrap.css');

html{
    text-align: center;
    background-color: #f9fcfe;
} 

footer{
    text-align: center;
    background-color: #f9fcfe;
    color: #20242F;
  }

a:hover {
    background-color: #313748;
}
p {
    font-size: 18px;
      
}
body {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

#navbar_sect{
    text-align: center;
    background-color: #20242F;
}
#nav_container{
    background-color: #20242F;
}
#personal_intro_box{
    background-color: rgba(0,0,0, 0.6);
}

#nav_name{
    font-size: 18px;
    color:#f9fcfe
}
#about_link,
#experience_link,
#cert_link,
#project_link,
#nav_quote{
    font-size: 14px;
    color: #f9fcfe;
}
#welcome_title{
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-size: x-large;
}
#about_div{
    background-image: url("../images/python_bakcgrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
    padding-bottom: 12rem;

}
#about_container{
    color: #f9fcfe;
}
#experience_sect,
#cert_sect{
    padding-top: 4.2rem;
    padding-bottom: 7rem;
}
#experience_div,
#sec_cert_div,
#project_div{
    padding-top: 2rem;
}
#blue_cable_photobox,
#sec_cert_photobox{
    padding-top: 3rem;
}
#experience_list,
#cert_skills_list{
    font-weight: 700;
    font-size: 16px;
    background-color: rgba(0,0,0, 0.9);
}
#verify_button_div{
    padding-top: 1.5rem;
}
#verify_button{
    
    padding-left: 3rem;
    padding-right: 3rem;

}

.custom-btn{
    background-color: #babfc170;
    color:black;
}
.custom-btn:hover{
    background-color: #babfc155;
}



@media (max-width: 990px){
    html{
        text-align: center;
        background-color: #f9fcfe;
    } 
    
    footer{
        text-align: center;
        background-color: #f9fcfe;
        color: #20242F;
      }
    
    a:hover {
        background-color: #313748;
    }
    p {
        font-size: 18px;
          
    }
    body {
        width: auto;
        margin: 0 auto;
        max-width: 100%;
        overflow-x: hidden;
        position: relative;
        display: block;
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        font-weight: 550;
        font-style: normal;
    }
    
    #navbar_sect{
        text-align: center;
        background-color: #20242F;
    }
    #nav_container{
        background-color: #20242F;
    }
    
    #nav_name{
        font-size: 18px;
        color:#f9fcfe
    }
    #about_link,
    #experience_link,
    #cert_link,
    #project_link,
    #nav_quote{
        font-size: 14px;
        color: #f9fcfe;
    }
    #welcome_title{
      margin-top: 5rem;
      margin-bottom: 4rem;
      font-size: x-large;
    }
    #about_div{
        background-image: url("../images/python_bakcgrnd.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        z-index: -1;
        padding-bottom: 12rem;
    
    }
    #about_container{
        color: #f9fcfe;
    }

    
    #cert_sect{
        padding-top: 3.8rem;
        padding-bottom: 7rem;
    }   

    #blue_cable_photobox,
    #sec_cert_photobox{
        padding-top:  0rem;
    }
    
    #experience_list{
        font-weight: 700;
        font-size: 16px;
    }
    /* #experience_div */

    #personal_intro_box{
        background-color: rgba(0,0,0, 0.6);
    }
    
    
    
    .custom-btn{
        background-color: #babfc170;
    }
    .custom-btn:hover{
        background-color: #babfc155;
    }
    
}